body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.index-card-content {
  height: 200px;
}

.story-body {
  height: 80px;
}

.status-text {
  text-transform: capitalize;
}

#del-form {
  display: inline;
}